#leão {
    color: rgb(224, 27, 165);
    display: flex;
}

.cor {
    color: chartreuse;
    display: flex;
}

#body {
    background-color: black;
    font-family:Arial;
    font-size: 24px;
    text-align: justify;

    p {
        color: cadetblue;
        text-align: center;
    }

    div {
        align-items: center;
    }

    .lista {
        color: antiquewhite;
    }

}